@font-face{
    font-family: landasans;
    src: url('../css/font/landasans/landasans.otf');
}
@font-face{
    font-family: aleo-bold;
    src: url('../css/font/aleo/Aleo-Bold.otf');
}
@font-face{
    font-family: aleo-light;
    src: url('../css/font/aleo/Aleo-Light.otf');
}
@font-face{
    font-family: aleo-regular;
    src: url('../css/font/aleo/Aleo-Regular.otf');
}

/* font family */
.f-landasans{
    font-family: landasans;
}
.f-aleo-bold{
    font-family: aleo-bold;
}
.f-aleo-light{
    font-family: aleo-light;
}
.f-aleo{
    font-family: aleo-regular;
}

/* font size */
.font-lg{
    font-size: 300% !important;
}
.font-sp-lg{
    font-size: 500%;
}
.font-md{
    font-size: 150%;
}
.font-sm{
    font-size: 100%;
}
.fw-bold{
    font-weight: bold;
}
